/**
 * @name Discorn
 * @author Enotovski#2444
 * @version 1.0.3
 * @description Changes Discord enough to give it a fresh feel while also making it like a damn pitch black square. Only dark theme.
 * @website https://t.me/enotovski
*/

/*
This guys won't do shit:
https://betterdiscordlibrary.com/users/DevilBro
https://betterdiscordlibrary.com/users/Gibbu
https://betterdiscordlibrary.com/users/JayWilson
*/

/*Is something not working? Clean your cache! %appdata%\discord (Cache;Code Cache;)*/

/*_________________________________________________________________________________________________________*/

/*_________________________________________________________________________________________________________*/
@import url('https://enotovski.do.am/uploads/discord/base.css');
@import url('https://enotovski.do.am/uploads/discord/basecolor.css');
/*Can you comment on basesquare if you need ugly default icons*/
@import url('https://enotovski.do.am/uploads/discord/basesquare.css');
/*Can you comment on basechallens if you need default channels*/
@import url("https://enotovski.do.am/uploads/discord/basechallens.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/*_________________________________________________________________________________________________________*/
:root {   
/*_________________________________________________________________________________________________________*/
/*Colors in RGB. You can realize your sexual fantasies with unicorns here: 
																https://www.google.com/search?q=colorpicker*/
/*              R   G   B*/
--accentcolor: 223, 138, 255;
--linkcolor:   127, 86, 143;
/*              R   G   B*/
/*_________________________________________________________________________________________________________*/
/*Changing server icons on top (you can comment this for default setting)*/
  --HSL-server-icon-size: 45px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 20px;  /* Spacing between each server icon | DEFAULT: 10px */
/*_________________________________________________________________________________________________________*/
/*Changing the font*/
--font: 'Roboto';
/*_________________________________________________________________________________________________________*/
/*Next for square interface elements*/
--borders-buttons-1: 0px; 
--borders-buttons-2: 0px; 
--borders-buttons-3: 0px; 
--borders-buttons-4: 0px; 
--borders-switches: 0px; 
--borders-checkboxes: 0px; 
--borders-slider-bars: 0px; 
--borders-slider-grabbers: 0px; 
--borders-progress-bars: 0px; 
--borders-inputs: 0px; 
--borders-contexts: 0px; 
--borders-popouts: 0px; 
--borders-modals: 0px; 
--borders-users: 0px; 
--borders-servers: 0%; 
--borders-server-badges: 0px; 
--borders-unreads: 0px; 
--borders-avatars-small: 0px; 
--borders-avatars-large: 0px; 
--borders-sidebar: 0px; 
--borders-notices: 0px; 
--borders-banners-1: 0px; 
--borders-banners-2: 0px; 
--borders-previews: 0px; 
--borders-hypesquad: 0%; 
--borders-activities: 0px; 
--borders-icons-small: 0px; 
--borders-icons-large: 0px; 
--borders-images: 0px; 
--borders-videos: 0px; 
--borders-audios: 0px; 
--borders-gifs: 0px; 
--borders-embeds: 0px; 
--borders-reactions: 0px; 
--borders-mentions: 0px; 
--borders-roles: 0px; 
--borders-tags: 0px; 
--borders-format-toolbars: 0px; 
--borders-codes: 0px; 
--borders-spoilers: 0px; 
--borders-quotes: 0px; 
--borders-search-highlights: 0px; 
--borders-toasts: 0px; 
--borders-tooltips: 0px; 
--borders-scrollbars: 0px; 
--borders-custom-css: 0px; 
}

